body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#mainContent {
  margin: 2rem
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#navBar {
  display: flex;
  flex-direction: row;
  background-color: gray;
}

.nav-link {
  background-color: white;
  color: black;
  border: 2px solid #74b2ff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  align-self: flex-start;
}

.nav-link:hover {
  background-color: #74b2ff;
  color: white;
}

#logout {
  margin-left: auto;
}

.loginPage {
  text-align: center;
  padding: 10% 25% 25% 25%;
}

button {
  background-color: white;
  color: black;
  border: 2px solid #74b2ff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  /* align-self: flex-start; */
}

button:hover {
  background-color: #74b2ff;
  color: white;
}

input[type="submit"] {
  background-color: white;
  color: black;
  border: 2px solid #74b2ff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  align-self: flex-start;
}

input[type="submit"]:hover {
  background-color: #74b2ff;
  color: white;
}

select .userSelect {
  height: 40px;
  width: 600px;
}

#groupSelect {
  /* display: flex; */
  width: 100%;
  /* justify-content: space-evenly; */
  text-align: center;
}

#groupSelectDiv {
  text-align: center;
}

.card {
  /* border: 2px solid grey; */
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px grey
}

.movieChoiceCard {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

img {
  width: 12rem;
  margin-left: auto;
  margin-right: auto;
}

/* #winner {
  text-align: center
}

#groupMovies {
  text-align: center
} */

#groupInfo {
  text-align: center
}

#newgroup {
  text-align: center
}

.movieCandidate {
  text-align: center;
  width: 20rem;
  height: 30rem;
  display: inline-grid;
}

.movieCandidate button {
  width: 5rem;
  height: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}